@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .event-form {
        width: 50vw;
      }

    .detail-content {
        width: 50vw;
        height: 70vh;
    }

    .detail-map {
        width: 50vw;
        height: 70vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .detail-content {
        width: 60vw;
        height: 70vh;
    }

    .detail-map {
        width: 60vw;
        height: 70vh;
    }
}

@media (max-width: 767px) {
    .event-form {
        width: 100%;
      }

    .detail-content {
        width: 80vw;
        height: 70vh;
    }

    .detail-map {
        width: 80vw;
        height: 70vh;
    }
  }
  
  @media only screen and (min-width: 280px) and (max-width: 599px) {

  }