#intro {
  background-image: url("../static/image/leaf.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

/* Main */
.navbar .nav-link {
  color: #fff !important;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.container {
  position: relative;
}

.container .text-white {
  position: relative;
  z-index: 1;
}

/* Events */
.carousel-item{
  height: fit-content;
}