<!DOCTYPE html>
<html>
<head>
  <title>Events Calendar</title>

  <meta charset='utf-8' />
  
  <link href='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css' rel='stylesheet' />
  
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet'>
  <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

  <script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js'></script>

  <script>
    $(document).ready(function() {
      var calendar = $('#calendar').fullCalendar({
        themeSystem: 'bootstrap3',
        contentHeight: 900,
        eventColor: '#aee2ff',
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,listMonth'
        },
        buttonText: {
          today: 'Today',
          month: 'Month',
          week: 'Week',
          day: 'Day',
          list: 'List'
        },

        events: [
          {% for event in events %}
            {
              title: '{{ event.title }}',
              start: '{{ event.date }}',
              time: '{{ event.time }}',
              id: '{{ event.id }}'
            },
          {% endfor %}
        ],
        eventClick: function(calEvent, jsEvent, view) {
          window.location.href = '/event-details/' + calEvent.id;
        },
        navLinks: true,
          navLinkDayClick: function(date, jsEvent, view) {
          window.location.href = '/create?date=' + moment(date).format('YYYY-MM-DD');
        }
      });
      $('.fc-prev-button span').addClass('fas fa-chevron-left');
      $('.fc-next-button span').addClass('fas fa-chevron-right');
    });
  </script>
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color: #f9f9f9;">
  <header>
    <h1 class="text-center">Events Calendar</h1>
    <hr class="m-3" />
  </header>
  
  <div class="cal-container">
    <div id='calendar'></div>
  </div>
</body>
</html>
