{% include "header.html" %}
  <!-- Background image -->
  <div id="intro" class="bg-image shadow-2-strong">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="form-container text-white">
        <h1>Event Post</h1>
          <form action="{{ url_for('submit_event', event_date=request.args.get('date')) }}" method="POST" class="event-form">
            <div class="form-group m-4">
              <label for="title">Event Name</label>
              <input type="text" class="form-control" name="title" required>
            </div>

            <div class="form-group m-4">
              <div class="row">
                <div class="col">
                  <label class="form-check-label" for="enable-date-input">Multi-day Event</label>
                  <input class="form-check-input" type="checkbox" id="enable-date-input">
                </div>
                <div class="col" id="date-input-container" style="opacity: 0; transform: translateX(-30px); transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; display: none;">
                  <input type="date" class="form-control" name="ending_date">
                  <label for="date">Ending Date</label>
                </div>
              </div>
            </div>

            <div class="form-group m-4">
              <div class="row">
                <div class="col">
                  <label for="time">Starting Time</label>
                  <input type="time" class="form-control" name="s_time" required>
                </div>
                <div class="col">
                  <label for="time">Ending Time</label>
                  <input type="time" class="form-control" name="e_time" required>
                </div>
              </div>
            </div>

            <div class="form-group m-4">
              <label for="description">Description</label>
              <textarea class="form-control text-form" name="description" required placeholder="Enter event details and location/address"></textarea>
            </div>

            <div class="form-group m-4">
              <div class="row">
                <label>Background Color</label>
                <div class="col">
                  <input type="radio" class="btn-check green-inp" name="color" id="green" autocomplete="off" value="#A8AEA4" checked>
                  <label class="btn btn-secondary btn-green" for="green">Green</label>
                </div>
                <div class="col">
                  <input type="radio" class="btn-check blue-inp" name="color" id="blue" autocomplete="off" value="#98B7BC">
                  <label class="btn btn-secondary btn-blue" for="blue">Blue</label>
                </div>
                <div class="col">
                  <input type="radio" class="btn-check lite-inp" name="color" id="light" autocomplete="off" value="#C2C2C0">
                  <label class="btn btn-secondary btn-lite" for="light">Light</label>
                </div>
                <div class="col">
                  <input type="radio" class="btn-check red-inp" name="color" id="red" autocomplete="off" value="#ed5252">
                  <label class="btn btn-secondary btn-red" for="red">Red</label>
                </div>
                <div class="col">
                  <input type="radio" class="btn-check yellow-inp" name="color" id="yellow" autocomplete="off" value="#ddd568">
                  <label class="btn btn-secondary btn-yellow" for="yellow">Yellow</label>
                </div>
                <div class="col">
                  <input type="radio" class="btn-check pur-inp" name="color" id="purple" autocomplete="off" value="#e77cd4">
                  <label class="btn btn-secondary btn-pur" for="purple">Pink</label>
                </div>
              </div>
            </div>

            <div class="form-group m-4 text-end">
              <a class="btn btn-outline-light btn-lg" href="{{ url_for('calendar') }}">Discard</a>
              <button type="submit" class="btn btn-outline-light btn-lg">Submit Event</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</header>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var enableDateInput = document.getElementById("enable-date-input");
    var dateInputContainer = document.getElementById("date-input-container");

    enableDateInput.addEventListener("change", function() {
      if (enableDateInput.checked) {
        dateInputContainer.style.display = "block";
        setTimeout(function() {
          dateInputContainer.classList.add("show");
        }, 10);
      } else {
        dateInputContainer.classList.remove("show");
        setTimeout(function() {
          dateInputContainer.style.display = "none";
        }, 300);
      }
    });
  });
</script>

</body>
</html>