{% include "header.html" %}


  <div id="intro" class="bg-image shadow-2-strong">
    <div class="container d-flex align-items-center justify-content-center text-left h-100">
      <div class="detail-container text-white mt-5" style="position: absolute;">
        <h1>{{ event.title }}</h1>
        <div class="detail-content">
          <div class="description">
            <p>{{ event.description }}</p><br>
            <p>Location : {{ event.address }}</p>
          </div>
          <div class="details">
            {% if event.e_date %}
            <p class="text-end">{{ date }} - {{ e_date }} </br> {{ s_time }} - {{ e_time }}</p>
            {% else %}
            <p class="text-end">{{ date }} </br> {{ s_time }} - {{ e_time }}</p>
            {% endif %}
            
            <div class="form-check form-switch">
              <label class="form-check-label" for="enable-map">View in map</label>
              <input class="form-check-input" type="checkbox" id="enable-map">
            </div>
            

            <div class="detail-btn text-end">
              <a class="btn btn-outline-light btn-lg" href="{{ url_for('calendar') }}">Back</a>
            </div>
          </div>
        </div>
      </div>
      <div class="location-container text-white mt-5">
        <div class="map" id="map" style="height: 300px; width: 300px; top: 0; opacity: 0; display: none;"></div>
      </div>
    </div>
  </div>

  <script>
  	mapboxgl.accessToken = '{{MAP_KEY}}';
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v12',
      center: [{{ event.lng }}, {{ event.lat }}],
      zoom: 9
    });

    // create the popup
    const popup = new mapboxgl.Popup({ offset: 25 }).setText('{{ event.address }}');
      
    // create DOM element for the marker
    const el = document.createElement('div');
    el.id = 'marker';
      
    // create the marker
    new mapboxgl.Marker(el)
    .setLngLat([{{ event.lng }}, {{ event.lat }}])
    .setPopup(popup) // sets a popup on this marker
    .addTo(map);
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var enableMap = document.getElementById("enable-map");
      var locationContainer = document.getElementById("map");
      enableMap.addEventListener("change", function() {
        if (enableMap.checked) {
          locationContainer.style.display = "block";
          locationContainer.classList.add("load");
        } else {
          locationContainer.style.display = "none";
          locationContainer.classList.remove("load");
        }
      });
    });
  </script>
</body>
</html>