{% include "header.html" %}

  <!-- Background image -->
  <div id="intro" class="bg-image shadow-2-strong">
      <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white">
          <h1 class="mb-3">NeighborWould</h1>
          <h5 class="mb-4">Connection to your neighbors</h5>
          <a class="btn btn-outline-light btn-lg m-2" href="{{ url_for('calendar') }}" role="button"
            rel="nofollow">Event Calendar</a>
          <a class="btn btn-outline-light btn-lg m-2" href="#events" role="button">Upcoming Events</a>
        </div>
      </div>
  </div>
  <!-- Background image -->
</header>

<!--Main layout-->
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-5 mt-5">
          <h4><strong>Connect with Your Neighbors and Stay Updated</strong></h4>
          <p>
            Welcome to NeighborWould, the community platform where you can easily connect with your neighbors and stay informed about local events. 
            Whether you're organizing a garage sale, throwing a party, or hosting a community gathering, 
            NeighborWould provides a convenient way to share and discover events in your neighborhood.
            With NeighborWould, you can explore a wide range of events happening in your area.
            Stay informed about upcoming events and plan your schedule accordingly.<br> 
            Never miss out on the exciting happenings in your community again!
          </p>
          <p><strong>Ready to explore?</strong></p>
          <a class="btn btn-outline-dark btn-sm" href="{{ url_for('calendar') }}" role="button"
            rel="nofollow">Event Calendar</a>
        </div>

        <div class="col-md-6 gx-5 mb-4 mt-4" id="about">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="/static/image/garage.jpg" class="img-fluid" style="border-radius: 30%;"/>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    {% if events %}
    <section class="text-left" id="events">
      <h4 class="mb-5"><strong>Upcoming Events</strong></h4>
      <div id="carouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner carousel-fade">
          <div class="carousel-item active">
            <div class="crop-img">
              <img src="../static/image/plant.jpg" class="d-block w-100">
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ events[0].title }}</h5>
              <p>{{ events[0].date }}<br>{{ events[0].s_time }}</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="crop-img">
              <img src="../static/image/plant.jpg" class="d-block w-100">
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ events[1].title }}</h5>
              <p>{{ events[1].date }}<br>{{ events[1].s_time }}</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="crop-img">
              <img src="../static/image/plant.jpg" class="d-block w-100">
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ events[2].title }}</h5>
              <p>{{ events[2].date }}<br>{{ events[2].s_time }}</p>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        
        </div>
      </div>
      
    </section>
    {% endif %}

    <!--Footer-->
    <footer class="bg-light text-lg-end">
      <hr class="m-5" />
    
      <p><strong>Follow us on social media</strong></p>
      <div class="icons">
        <a href="#" class="fa fa-facebook-f">Facebook</a>
        <a href="#" class="fa fa-twitter">Twitter</a>
        <a href="#" class="fa fa-youtube">Youtube</a>
        <a href="https://github.com/AseanK" class="fa fa-github">Github</a>
        
    </div>
    </footer>
  </div>
</main>
<!--Main layout-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>