{% include "header.html" %}

  <!-- Background image -->
  <div id="intro" class="bg-image shadow-2-strong">
      <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white">
          <h1 class="mb-3">NeighborWould</h1>
          <h5 class="mb-4">Connection to your neighbors</h5>
          <a class="btn btn-outline-light btn-lg m-2" href="{{ url_for('calendar') }}" role="button"
            rel="nofollow">Get started</a>
          <a class="btn btn-outline-light btn-lg m-2" href="#about" role="button">Learn more</a>
        </div>
      </div>
  </div>
  <!-- Background image -->
</header>

<!--Main layout-->
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row reveal">
        <div class="col-md-6 gx-5 mb-5 mt-5">
          <h4 class="mb-3 mt-3"><strong>Connect with Your Neighbors and Stay Updated</strong></h4>
          <p>
            Welcome to NeighborWould, the community platform where you can easily connect with your neighbors and stay informed about local events. 
            Whether you're organizing a garage sale, throwing a party, or hosting a community gathering, 
            NeighborWould provides a convenient way to share and discover events in your neighborhood.<br><br>
            With NeighborWould, you can explore a wide range of events happening in your area.
            Stay informed about upcoming events and plan your schedule accordingly.<br><br>
            Never miss out on the exciting happenings in your community again!
          </p>
        </div>

        <div class="col-md-6 gx-5 mb-4 mt-4" id="about">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="/static/image/garage.jpg" class="img-fluid" style="border-radius: 30%;"/>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!-- Section: Example -->
    <section class="text-left reveal" id="example">
      <div class="row">
        <div class="col col-lg-4 col-md-12">
          <h4 class="mb-3 mt-3"><strong>How does it work?</strong></h4>
          <ul class="main-list mt-3 fa-ul">
            <li><span class="fa-li"><i class="fa fa-leaf"></i></span>Browse local events effortlessly</li>
            <li><span class="fa-li"><i class="fa fa-leaf"></i></span>Supports both Month calendar view and List calendar view</li>
            <ul>
              <li>Month view: Displays a traditional calendar view</li>
              <li>List view: Presents events as a well-organized list</li>
              <li>Both views provides starting time and event titles</li>
            </ul>
            <li><span class="fa-li"><i class="fa fa-leaf"></i></span>Click on an event to view detailed information</li>
            <ul>
              <li>Shows starting and ending date and time</li>
              <li>Includes a description with event location</li>
            </ul>
            <li><span class="fa-li"><i class="fa fa-leaf"></i></span>Create local events effortlessly</li>
            <ul>
              <li>Select the date to start the event</li>
              <li>Supports multi-day events</li>
              <li>Customize the event display color</li>
            </ul>
          </ul>
          <div class="text-end mt-5">
            <p><strong>Ready to explore?</strong></p>
            <a class="btn btn-outline-dark btn-sm" href="{{ url_for('calendar') }}" role="button"
              rel="nofollow">Event Calendar</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="/static/image/cal_ex.png" class="img-fluid" style="border-radius: 20px;"/>
          </div>
        </div>
      </div>
    </section>

    <!--Section: Content-->
    <hr class="my-5" />
    <section class="text-left reveal" id="events">
      <h4 class="mb-5"><strong>Upcoming Events</strong></h4>
      <div class="row">
      <div id="carouselDark" class="carousel carousel-dark slide col-md-5" data-bs-ride="carousel">
        <div class="carousel-inner carousel">
          <div class="carousel-item active">
            <div class="crop-img">
              <img src="../static/image/mug.jpg" class="d-block w-100">
            </div>
            <div class="carousel-caption">
              <a>
                <h5>Event Title</h5>
              </a>
              <p>Days left</p>
              <p class="text-end">Starting date<br>Starting time</p>
            </div>
          </div>
          {% for event in events %}
          {% if d_f(event.date) < today %}
            {# Skip past events #}
          {% else %}
          <div class="carousel-item">
            <div class="crop-img">
              <img src="../static/image/mug.jpg" class="d-block w-100">
            </div>
            <div class="carousel-caption">
              <h5>{{ event.title }}</h5>
              <a href="{{ url_for('event_details', event_id=event.id) }}" class="detail-link">Click for details</a>
              <p>in {{ (d_f(event.date) - today).days }} days</p>
              <p class="text-end">{{ df(event.date) }}<br>{{ tf(event.s_time) }}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
        <div class="col-md-7 order-md-2">
          <div class="event-header">
            <p><strong>Discover a Variety of Events</strong></p>
            <p class="section-subheading">Explore a Wide Range of Events in Your Area</p>
          </div>
          
          <div class="event-description">
            <p><strong>What Kinds of Events?</strong></p>
            <p>Experience a diverse range of events, from intimate gatherings to large-scale spectacles. Our platform caters to all types of events, ensuring there's something for everyone.</p>
            <p>With NeighborWould, you can stay informed about upcoming events and plan your schedule accordingly. Whether it's a local workshop, a music concert, or a community festival, you'll never miss out on the exciting happenings in your community again.</p>
          </div>
          
        </div>
      </div>
    </section>

    <!--Footer-->
    <footer class="bg-light text-lg-end">
      <hr class="m-5" />

      <p><strong>Follow us on social media</strong></p>
      <div class="icons">
        <a href="#" class="fa fa-facebook-f">Facebook</a>
        <a href="#" class="fa fa-twitter">Twitter</a>
        <a href="#" class="fa fa-youtube">Youtube</a>
        <a href="https://github.com/AseanK" class="fa fa-github">Github</a>

    </div>
    </footer>
  </div>
</main>
  <a href="#" id="scroll-to-top" class="dmtop"><i class="fa fa-angle-up"></i></a>
<!--Main layout-->

  <script>
    document.addEventListener("scroll", function(){ 
      var reveals = document.querySelectorAll(".reveal");
      var scrollToTop = document.getElementById('scroll-to-top');
      var scrollPosition = window.pageYOffset;

      for (var i = 0; i < reveals.length; i++) {
        var windowHeight = window.innerHeight;
        var elementTop = reveals[i].getBoundingClientRect().top;
        var elementVisible = 150;
      
        if (scrollPosition > 0) {
          scrollToTop.classList.add('show');
        } else {
          scrollToTop.classList.remove('show');
        }

        if (elementTop < windowHeight - elementVisible) {
          reveals[i].classList.add("active");
        }
      }
    })
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>